<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="lqc.demo.springcloud.user.mapper.UserMapper">
	<sql id="listAll">
		SELECT * FROM User 
	</sql>
	<select id="findById" parameterType="java.lang.Long" resultType="lqc.demo.springcloud.user.bean.User">
		<include refid="listAll"></include>	
		WHERE id=#{id}
	</select>
	<update id="update" parameterType="lqc.demo.springcloud.user.bean.User">
		UPDATE User SET username=#{username},name=#{name},age=#{age},balance=#{balance}
		WHERE id=#{id}
	</update>
	<select id="listAll" resultType="lqc.demo.springcloud.user.bean.User">
		<include refid="listAll"></include>
	</select>
</mapper>